pywhatkit
aioredis
anyio
argon2-cffi
argon2-cffi-bindings
asgiref
async-timeout
attrs
autobahn
Automat
backcall
beautifulsoup4
bleach
captcha
certifi
cffi
channels
channels-redis
chardet
charset-normalizer
click
colorama
confusable-homoglyphs
constantly
cryptography
cycler
daphne
debugpy
decorator
defusedxml
distlib
Django
django-braces
django-crispy-forms
django-embed-video
django-memcache-status
django-ranged-response
django-recaptcha
django-registration
django-simple-captcha
djangorestframework
entrypoints
et-xmlfile
exceptiongroup
fastjsonschema
filelock
Flask
fonttools
git-filter-repo
googletrans
h11
h2
hiredis
hpack
hstspreload
httpcore
httpx
hyperframe
hyperlink
idna
importlib-metadata
importlib-resources
incremental
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-console
jupyter-server
jupyter_client
jupyter_core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
libretranslatepy
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
msgpack
mysql-connector
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
openpyxl
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
pkgutil_resolve_name
platformdirs
prometheus-client
prompt-toolkit
psutil
pyasn1
pyasn1-modules
pycparser
Pygments
PyHamcrest
PyMySQL
pyOpenSSL
pyparsing
pyrsistent
python-dateutil
python-memcached
pytz
pywin32
pywinpty
pyzmq
qtconsole
QtPy
regex
requests
rfc3986
scikit-learn
scipy
seaborn
Send2Trash
service-identity
six
sniffio
soupsieve
sqlparse
terminado
threadpoolctl
tinycss2
torch
torchaudio
torchvision
tornado
tqdm
traitlets
translate
Twisted
twisted-iocpsupport
txaio
typing_extensions
urllib3
virtualenv
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
xlrd
zipp

